:root {
	--bg: #242526;
	--bg-accent: #484a4d;
	--color: #121149;
	--accent-color: #273b7a;
	--text-color: #dadce1;
	--nav-size: 10vh;
	--border: 2.5px solid #273b7a;
	--border-radius: 8px;
	--speed: 500ms;
}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--bg-accent);
	font-family: 'Courier New', serif;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: var(--text-color);
	text-decoration: none;
}
