.card-info {
	background-color: var(--accent-color);
	text-align: center;
	padding: 20px 15px;
	border-radius: 8px;
	transition: all 0.5s ease;
	margin-top: -40px;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
}
.card-info:before {
	content: '';
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
	filter: blur(50px);
	margin: -20px;
}
/* .card-info:hover {
	box-shadow: 0 0 5px black;
	transform: translateY(-20px);
} */

.card-header {
	margin: 0;
	font-size: 18px;
	font-weight: 600;
	color: #ffffff;
}

.card-role {
	color: var(--text-color);
}
.card-social-links {
	padding-top: 15px;
}
.card-link {
	display: inline-block;
	height: 32px;
	width: 32px;
	background-color: #ffffff;
	color: var(--col);
	border-radius: 50%;
	margin: 0 2px;
	text-align: center;
	line-height: 32px;
	font-size: 16px;
	transition: all 0.5s ease;
}
.card-link:hover {
	box-shadow: 0 0 15px black;
}
