.donate-hero-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 7vh;
	max-height: 68vh;
	background: url(../img/evergreen-cem.png);
	background-size: cover;
	object-fit: cover;
	height: 100vh;
	width: 100vw;
	z-index: -1;
	overflow-x: hidden;
}

.donate-hero-header {
	color: var(--text-color);
	font-size: 1.7rem;
	padding: 1.2rem;
	background-color: var(--bg-accent);
	border-radius: 10px;
}
