@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.about-hero-main {
	background: linear-gradient(
		307deg,
		var(--bg-accent),
		var(--accent-color),
		var(--color)
	);
	background-size: 600% 600%;
	-webkit-animation: AboutBackground 12s ease infinite;
	-moz-animation: AboutBackground 12s ease infinite;
	-o-animation: AboutBackground 12s ease infinite;
	animation: AboutBackground 12s ease infinite;
}

.about-hero-main {
	box-sizing: border-box;
	background-color: var(--bg--accent);
	min-height: 75vh;
	padding: 70px 15px;
}

.about-container {
	max-width: calc(100vw - 30px);
	margin: auto;
}

.about-row {
	display: flex;
	flex-wrap: wrap;
}

.about-section-title {
	flex-basis: 100%;
	max-width: 100%;
	margin-bottom: 70px;
}

.about-header {
	font-size: 2em;
	text-align: center;
	margin: 0;
	color: #ffffff;
}

.about-p {
	font-size: 1.1em;
	text-align: center;
	margin: 15px 0 0;
	color: var(--text-color);
}

.about-team-items {
	flex-basis: 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

@media (max-width: 667px) {
	.card-info {
		flex-basis: 75%;
		max-width: 60vw;
	}
	.about-card-wrapper {
		padding-bottom: 10vh;
	}
	.about-p {
		font-size: 0.6em;
	}
	.about-header {
		font-size: 1.2em;
	}
}

@media (max-width: 375px) {
	.about-card-wrapper {
		padding-bottom: 7vh;
	}
	.about-header {
		font-size: 1em;
	}
}
@-webkit-keyframes AboutBackground {
	0% {
		background-position: 0% 79%;
	}
	50% {
		background-position: 100% 22%;
	}
	100% {
		background-position: 0% 79%;
	}
}
@-moz-keyframes AboutBackground {
	0% {
		background-position: 0% 79%;
	}
	50% {
		background-position: 100% 22%;
	}
	100% {
		background-position: 0% 79%;
	}
}
@-o-keyframes AboutBackground {
	0% {
		background-position: 0% 79%;
	}
	50% {
		background-position: 100% 22%;
	}
	100% {
		background-position: 0% 79%;
	}
}
@keyframes AboutBackground {
	0% {
		background-position: 0% 79%;
	}
	50% {
		background-position: 100% 22%;
	}
	100% {
		background-position: 0% 79%;
	}
}
