.find-hero-main {
	background: var(--bg-accent);
	min-height: 75vh;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.find-hero-header {
	padding-top: 5em;
	font-size: 1.4em;
	color: var(--text-color);
	padding-bottom: 1.7em;
}

.search {
	justify-content: center;
	margin: 0 auto;
}

.search-input-wrapper {
	font-size: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--accent-color);
	width: 50vw;
	padding: 0.5rem;
	border-radius: 0.5rem;
	color: white;
	box-shadow: 0.4rem 0.4rem 0rem var(--color);
}

.search-bar {
	margin: 0 0.5rem 0 0.5rem;
	width: 100%;
	border: none;
	outline: none;
	background: var(--accent-color);
	color: white;
}

::placeholder {
	color: var(--text-color);
}

.find-hero-submit {
	padding-top: 1.5em;
}
.find-hero-submit-btn {
	padding: 8px 20px;
	border-radius: 2px;
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 20px;
	background-color: transparent;
	color: white;
	border: 1px solid white;
	transition: all 0.3s ease-out;
}

.find-hero-submit-btn:hover {
	background-color: white;
	color: #242424;
	transition: all 0.3s ease-out;
}

.find-hero-x:hover {
	cursor: pointer;
	color: var(--bg-accent);
}

.fa {
	color: inherit;
}

.find-hero-display-results {
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding-top: 3em;
	padding-bottom: 3em;
}

.find-hero-results-title {
	font-size: 1.4em;
	color: var(--text-color);
	padding-bottom: 1.7em;
}

.find-hero-cards-wrapper {
	display: flex;
	/* justify-content: center; */
	padding: 3rem;
	overflow: auto;
}

.find-hero-cards-wrapper::-webkit-scrollbar {
	width: 10px;
	height: 5px;
}
.find-hero-cards-wrapper::-webkit-scrollbar-thumb {
	background: var(--text-color);
	border-radius: 10px;
	box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
		inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.find-hero-cards-wrapper::-webkit-scrollbar-track {
	background-color: var(--color);
}
