.navbar {
	height: var(--nav-size);
	background-color: var(--bg);
	padding: 0 1rem;
	border-bottom: var(--border);
	display: flex;
	justify-content: space-between;
}

.navbar-nav {
	max-width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
}

.navbar-title {
	margin-top: auto;
	margin-bottom: auto;
	font-size: 1.2rem;
	color: var(--text-color);
}
