.person-card {
	height: 350px;
	width: 400px;
	min-width: 250px;
	padding: 1.5rem;
	border-radius: 16px;
	background: var(--bg);
	box-shadow: -1rem 0 3rem #000;
	display: flex;
	flex-direction: column;
	transition: 0.2s;
	margin: 0;
	scroll-snap-align: start;
	clear: both;
	position: relative;
	color: var(--text-color);
}

.person-card:focus-within ~ .person-card,
.person-card:hover ~ .person-card {
	transform: translateX(130px);
}

.person-card:hover {
	transform: translateY(-1rem);
}

.person-card:not(:first-child) {
	margin-left: -130px;
}

.person-card-header {
	margin-bottom: auto;
}

.person-card-header p {
	font-size: 0.85rem;
	margin: 0 0 1rem;
	color: #aaaaaf;
}

.person-card-header h2 {
	font-size: 1.5rem;
	margin: 0.25rem 0 auto;
	text-decoration: none;
	color: inherit;
	border: 0;
	display: inline-block;
	cursor: pointer;
}

.person-card-header h2:hover {
	background: linear-gradient(90deg, #1ccdec, var(--alt-accent));
	text-shadow: none;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}

.person-card-death {
	margin: 3rem 0 0;
	display: grid;
	grid-template-columns: 75px 1fr;
	align-items: center;
	position: relative;
}

.person-death-avatar {
	grid-area: auto;
	align-self: start;
	position: relative;
	box-sizing: border-box;
}

.person-death-avatar img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	/* filter: grayscale(100%); */
	filter: grayscale(100%);
	display: block;
	overflow: hidden;
	margin: 16px 10px;
}

.person-death {
	grid-area: auto;
	box-sizing: border-box;
}

.person-death-name {
	font-style: normal;
	font-weight: 700;
	color: #7a7a8c;
}

.person-half-circle {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 60px;
	height: 48px;
	fill: none;
	stroke: var(--alt-accent);
	stroke-width: 8;
	stroke-linecap: round;
	pointer-events: none;
}
