.search-input-wrapper {
	font-size: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--color);
	width: 50vw;
	padding: 0.5rem;
	border-radius: 0.5rem;
	color: white;
	box-shadow: 0.25rem 0.25rem 0rem var(--accent-color);
}

.search-bar {
	margin: 0 0.5rem 0 0.5rem;
	width: 100%;
	border: none;
	outline: none;
	background: var(--color);
	color: white;
}

::placeholder {
	color: var(--text-color);
}
